# .gitignore for Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
*.iws
*.jar
*.war
*.ear
/android/.gradle/
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/*.iml
/android/.idea/
/android/build/
/ios/.symlinks/
/ios/Flutter/.last_build_id
/ios/Flutter/App.framework/
/ios/Flutter/Flutter.framework/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/App.generated.xcconfig
/ios/Flutter/AppIcon.appiconset/
/ios/Flutter/Flutter.app/
/ios/Flutter/Flutter.podspec
/ios/Flutter/ephemeral/.app_bundle/
/ios/.generated/
/ios/Pods/
/ios/.symlinks/
/ios/Runner/GeneratedPluginRegistrant.*
/build/
/pubspec.lock
/pubspec.yaml.lock